{% extends 'base.html' %}
{% load mathfilters %}

{% block header %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 class="display-4">WarikanList</h1>
        <p class="lead">精算しましょう！</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <h2>精算</h2>
        {% for item in object_list %}
            {% if item.sum_price|sub:data_per >= 0 %}
            <div class="alert alert-secondary" role="alert">
                <p><img src="{{ item.pictureID.url }}" width = 50> <span class="font-weight-bold">{{ item.membername }}</span> {{ item.sum_price|sub:data_per }}円もらう</p>
            </div>
            {% else %}
            <div class="alert alert-secondary" role="alert">
                <p><img src="{{ item.pictureID.url }}" width = 50> <span class="font-weight-bold">{{ item.membername }}</span> {{ item.sum_price|sub:data_per|mul:-1 }}円はらう</p>
            </div>
            {% endif %}
        {% endfor %}
        <h2>明細</h2>
        {% for item in detail_list %}
            <div class="alert alert-primary" role="alert">
                <p>{{ item.title }}：{{ item.price }}円（{{ item.memberID }}）</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
