{% extends 'base.html' %}

{% block header %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container typing">
            <h1 class="display-4 main-title">Wari Masa</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <a href="{% url 'addtrip' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">旅を作成</a>
        <a href="{% url 'addpicture' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">写真追加</a>
        {% for item in object_list %}
            <div class="alert alert-secondary" role="alert">
                <h3><span class = 'tabi_title'>{{ item.tripname }}</span></h3>
                <p><span class = 'tabi_info'>期間：<span class = 'tabi_info_ele'>{{ item.startdate|date:"Y/m/d" }} ~ {{ item.enddate|date:"Y/m/d" }}</span></span></p>
                <p><span class = 'tabi_info'>メンバー：<span class = 'tabi_info_ele'>{{ item.membername }}</span></span></p>
                <a href="{% url 'memberlist' item.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集</a>
                <a href="{% url 'tripdelete' item.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">削除</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
